local overrides = require("custom.configs.overrides")

---@type NvPluginSpec[]
local plugins = {

  -- Override plugin definition options

  {
    "neovim/nvim-lspconfig",
    config = function()
      require "plugins.configs.lspconfig"
      require "custom.configs.lspconfig"
    end, -- Override to setup mason-lspconfig
  },

  -- override plugin configs
  {
    "williamboman/mason.nvim",
    opts = overrides.mason
  },

  {
    "nvim-treesitter/nvim-treesitter",
    opts = overrides.treesitter,
  },

  {
    "nvim-tree/nvim-tree.lua",
    opts = overrides.nvimtree,
  },

  {
    "L3MON4D3/LuaSnip",
    opts = overrides.luasnip,
  },
  {
    "hrsh7th/nvim-cmp",
    opts = overrides.nvim_cmp,
  },

  {
    "lukas-reineke/indent-blankline.nvim",
    enabled = false
  },
--{
--  "lukas-reineke/indent-blankline.nvim",
--  version = "3.5.3",
--  main = "ibl",
--  opts = {}
--},

  -- Install a plugin
  {
    "max397574/better-escape.nvim",
    event = "InsertEnter",
    config = function()
      require("better_escape").setup {
        mapping = {"jk"}, -- a table with mappings to use
        timeout = vim.o.timeoutlen, -- the time in which the keys must be hit in ms. Use option timeoutlen by default
        clear_empty_lines = false, -- clear line after escaping if there is only whitespace
        -- keys = function()
        --  return vim.api.nvim_win_get_cursor(0)[2] > 1 and '<esc>l' or '<esc>'
        -- end,
      }
    end,
  },

  {
    "stevearc/conform.nvim",
    --  for users those who want auto-save conform + lazyloading!
    -- event = "BufWritePre"
    config = function()
      require "custom.configs.conform"
    end,
  },

  {
    "lervag/vimtex",
    lazy = false,
    init = function()
      {{ if eq .chezmoi.os "darwin" }}
        vim.g.vimtex_view_method = "skim"
        vim.g.vimtex_view_skim_reading_bar = 0
      {{ else if eq .chezmoi.os "linux" }}
        vim.g.vimtex_view_method = "zathura"
      {{ end }}
      vim.g.maplocalleader = " "
      vim.g.vimtex_quickfix_open_on_warning = 0
      vim.g.vimtex_matchparen_enabled = 0
      vim.g.vimtex_indent_enabled = 0
      vim.g.vimtex_delim_timeout = 0
      vim.g.vimtex_delim_stopline = 0
    end,
  },

  -- To make a plugin not be loaded
  -- {
  --   "NvChad/nvim-colorizer.lua",
  --   enabled = false
  -- },

  -- All NvChad plugins are lazy-loaded by default
  -- For a plugin to be loaded, you will need to set either `ft`, `cmd`, `keys`, `event`, or set `lazy = false`
  -- If you want a plugin to load on startup, add `lazy = false` to a plugin spec, for example
  -- {
  --   "mg979/vim-visual-multi",
  --   lazy = false,
  -- }
}

return plugins
